doctype 5
html(ng-app='')
  head
    title= title
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.5.0/ui-bootstrap-tpls.min.js')
    script(type='text/javascript', src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')
    // script(type='text/javascript', src='/javascripts/controllers.js')
    script(type='text/javascript', src='/javascripts/controllers/user.js')
  body
    div.navbar.navbar-fixed-top.navbar-inverse
      div.container
        div.navbar-header
          a.navbar-brand(href='/') BEAM Base Project
        div.navbar-right
          ul.nav.navbar-nav
            li
              a(data-toggle='modal', href='#registration_form') Register
            li
              a(data-toggle='modal', href='#login_form') Login
    block content
    div.container
      div.row
        div.col-lg-4
        div.col-lg-4
        div.col-lg-4
      hr
      footer
        p &copy; Copyright 2013
include login_form
include registration_form
